body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
}

canvas {
  display: block;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}
